@import './../../../variables.scss';

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-content {
    visibility: hidden;
    width: 100px;
    background-color: $darkColor;
    color: $lightColor;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transition-delay: 0s;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
    transition-delay: .8s;
}