.note-cell {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background: #1e1e1e;
    padding: 28px;
    transition: 'background 5s';
}

.note-content {
    margin: 40px;
}

.divider {
    position: relative;
    left: 10%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}