.header {
    height: auto;
    width: auto;
    background: rgb(54, 54, 54);
    background: linear-gradient(0deg, rgba(54, 54, 54, 1) 8%, rgba(58, 58, 58, 1) 48%, rgba(64, 64, 64, 1) 95%);
    border-bottom: 1px solid black;
    padding: 10px;
    z-index: 200;
    flex-shrink: 0;
}